$headercolor : darkturquoise;
$link-color: mintcream; 
$link-hover : darkturquoise;
$nav-background: rgba(0,0,0,1);
$body-background: aliceblue;


body  {
    color: black;
    background-color: $body-background;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../public/waves.jpg");
    text-align: center;
    height: 1150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    h1 {
        color: $headercolor;
        font-size: 50px;
        font-family: 'Lobster', cursive;
        margin: 200px auto 0 auto;
    }
    h2 {
        color: ghostwhite;
        font-family: 'Tinos';
    }
    button{
        background-color: transparent;
        border: 2px solid mintcream;
        color: mintcream;
        border-radius: 0.6em;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
            transform: translateY(-3px);
            color: $link-hover;
            background-color: mintcream;
            outline: 0;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            transition: 0.2s ease-in-out;
         }
         &:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: 0.2s ease-in-out;
         }
         &:focus {outline:0;}

    }
}


nav {
    width: 100%;
    ul {
        font-family: 'Lato', sans-serif;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $nav-background;
    }
    li {
        float: left;
        padding: 14px 16px;
        text-align: center;
        &:hover{
            background-color: $link-color;
        }
    }
    a {
    display: block;
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        color: $link-hover;
        background-color: $link-color;
    }
}
}
.fixed-nav{
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
}
.fixed-nav + div {
    padding-top: 46px;
}

  


.social {
    float: right;
    a {
        border:none;
        display: inline;
    }
}


#cont  {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 1000px;
}

#mepic {
    width: 35%;
}

.project-pic {
    width: 40%;
}

#resume-container {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    ul {
        list-style-type: none; 
    }
    .resume-header {
        font-family: "Lucida Console", Monaco, monospace;
        grid-column: 1 / 5;
    }
    section {
        grid-column: 2 / 4;
        text-align: left;
    }
    .resume-list {
        grid-column-start: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        h4 {
            border: 0;
        }
    }
    h4 {
        border-bottom: 1px solid black;
    }
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    text-decoration: none;
}
