$headercolor : rgba(242,109,109,1);
$link-color: rgba(37,107,115,1); 
$link-hover : rgba(242,81,141,1);
$nav-background: rgba(242,109,109,1);
$body-background: rgba(47,131,140,1);


body  {
    color: #FFFFFF;
    background-color: $body-background;
    font-family: 'Tinos', serif;
    margin: 0 auto;
}
header {
    padding-left: 15px;
    background-image: url("../public/Koi.jpg");
    height: 700px;
    text-align: center;
}
h1 {
    color: $headercolor;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 400px;
    margin: 0 auto;
}
nav {
    width: 100%;
    ul {
        font-family: 'Lato', sans-serif;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $nav-background;
    }
    li {
        float: left;
        padding: 14px 16px;
        text-align: center;
        &:hover{
            background-color: $link-color;
        }
    }
}
.fixed-nav{
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
}
a {
    display: block;
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        color: $link-hover;
        background-color: $link-color;
    }
}
  


.social {
    float: right;
    a {
        border:none;
        display: inline;
    }
}


.content  {
    padding: 10px;
}

