$headercolor : darkturquoise;
$link-color: mintcream; 
$link-hover : limegreen;
$nav-background: rgba(0,0,0,1);
$body-background: aliceblue;


body  {
    color: black;
    background-color: $body-background;
    font-family: 'Tinos', serif;
    margin: 0 auto;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../public/waves.jpg");
    text-align: center;
    height: 1150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    h2 {
        color: ghostwhite;
    }
    button {
        background-color: transparent;
        border: 2px solid navajowhite;
        color: mintcream;
        border-radius: 0.6em;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
            color: $link-hover;
            background-color: navajowhite;
            outline: 0;
            transition: 0.2s ease-in-out;
         }
    }
}

h1 {
    color: $headercolor;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    margin: 200px auto 0 auto;
}
nav {
    width: 100%;
    ul {
        font-family: 'Lato', sans-serif;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $nav-background;
    }
    li {
        float: left;
        padding: 14px 16px;
        text-align: center;
        &:hover{
            background-color: $link-color;
        }
    }
}
.fixed-nav{
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
}
.fixed-nav + div {
    padding-top: 46px;
}
a {
    display: block;
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        color: $link-hover;
        background-color: $link-color;
    }
}
  


.social {
    float: right;
    a {
        border:none;
        display: inline;
    }
}


.content  {
    padding: 10px;
}

#mepic {
    width: 35%;
}
