body  {
    color: #4C4C4C;
    background-color: #DFDBD3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C4C4C;
}
  
li {
    float: left;
}

.social {
    float: right;
}
li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #B2CF42;
}