<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jeremy Yandell</title>
</head>
<body>
    
        <header>
            <h1>Jeremy Yandell</h1>
            <h2>Full Stack Web Developer</h2>
                <button id="learn-more-btn">
                    Learn more&nbsp;<i class="fas fa-arrow-down"></i>
                </button>
        </header>
        <div id="target"></div>
        <nav>
            <div id="navcont">
                
                    <ul>
                        <a v-on:click="counter = 'home'"><li>Home</li></a>
                        <a v-on:click="counter = 'resume'"><li>Resume</li></a>
                        <a v-on:click="counter = 'project'"><li>Projects</li></a>
                        <a v-on:click="counter = 'contact'"><li>Contact</li></a>
                        <span class="social">
                            <a href="https://github.com/jyandell83"><li><i class="fab fa-github-alt"></i></li></a>
                            <a href="https://www.linkedin.com/in/jeremy-yandell/"><li><i class="fab fa-linkedin"></i></li></a>
                        </span>
                    </ul>
                
            </div>
        </nav>
            
            <div id="cont"> 
                    <div v-if="counter === 'home'">
                        <h2>Hi, my name is Jeremy.</h2>
                        <p>I am a full stack developer. I like writing code and enjoying nature.</p>
                        <img src="./public/redwood.jpg" alt="redwood trees" id="mepic">
                    </div>
                    <div v-if="counter === 'resume'">
                        <div id="resume-container">
                            <div class="resume-header">
                                <h1>Jeremy Yandell</h1>
                                <h2>Full Stack Web Developer</h2>
                                <h3>Los Angeles, CA</h3>
                                <h3>github.com/jyandell83 | linkedin.com/in/jeremy-yandell</h3>
                            </div>
                            <section>
                                <h4>Summary</h4>
                                <p>
                                    I am a full stack developer who has spent the last 6 years in the fast paced world of emergency medicine. I have a talent for breaking down problems and coming up with creative solutions under tight deadlines.
                                </p>
                            </section>
                            <div class="resume-list">
                            <h4>Technical Skills</h4>
                                <ul>
                                    <li>JavaScript</li>
                                    <li>React</li>
                                    <li>Express</li>
                                    <li>Node.js</li>
                                    <li>RESTful API</li>
                                    <li>EJS</li>
                                    <li>Bootstrap</li>
                                    <li>HTML5</li>
                                    <li>CSS3</li>
                                    <li>Sass</li>
                                    <li>Styled Components</li>
                                    <li>Git</li>
                                    <li>MongoDB</li>
                                    <li>Mongoose</li>
                                    <li>Python</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                            </section>
                            <section>
                                <h4>Projects</h4>
                                <p>
                                    <h5>The High Line</h5>
                                    A react app where surfers can post reports for surf spots. Integrated with google maps API and weather api<br />
                                    Technologies used: Firebase | React | HTML5 | CSS3 | Styled Components | react-spring

                                    <h5>My Top Ten</h5>
                                    3 Model CRUD app using RESTful routes. Users can interact and share their top ten favorite movies.<br />
                                    Technologies used: MongoDB/Mongoose | Express | Node.js | HTML5 | CSS3
                                    
                                    <h5>JamBand</h5>
                                    A virtual community of musicians where you can post jams for other users to join. A react app built using flask/python on the backend with a SQL database.<br />
                                    Technologies used: Flask/Python | React | HTML5 | CSS3
                                    
                                    <h5>Mancala</h5> 
                                    An ancient strategy game brought to a digital environment. Compete to capture the most seeds.<br />
                                    Technologies used: JavaScript | HTML5 | CSS3 | Google Fonts
                                    
                                    
                                </p>
                            </section>
                            <section>
                                <h4>Experience</h4>
                                <p>
                                    <strong>Huntington Hospital - Patient Care Associate</strong> 
                                    <br />2016-2018
                                    Emergency Care provider in Emergency Room / Trauma Center.<br /><br />
                                    
                                    <strong>Scripps Memorial Hospital - Emergency Room Technician</strong> 
                                    <br />2013 - 2017
                                    Direct patient care in the emergency/trauma setting. Assisted physicians and staff during medical 		procedures.<br /><br />
                                    
                                    <strong>Pacific Ambulance - Field Training Officer - EMT</strong>
                                    <br />2013 -2014
                                    Provided Basic Life Support in the prehospital setting. Trained and mentored new hires.<br /><br />
                                    
                                    <strong>CPC Search - Account Manager</strong>
                                    <br />2010 - 2012
                                    Directly managed SEM accounts across Adwords, Bing and Facebook.<br /><br />
                                    
                                    <strong>Stubhub - Site Merchandiser</strong>
                                    <br />2007 - 2010
                                    Managed front page content to highlight special promotions and seasonal offers.<br /><br />
                                </p>
                            </section>
                            <section>
                                <h4>Education</h4>
                                <p>
                                    University of California, Santa Barbara | B.A. English<br />
                                    General Assembly | Software Engineering Immersive<br />
                                    San Francisco Paramedics Association | EMT Program
                                </p>
                            </section>
                            
                        </div>
                    </div>
                    <div v-if="counter === 'project'">
                        <div>
                            <h1>The High Line</h1>
                            <img class ="project-pic" src="./public/Highline-pic.png" alt="project-pic" />
                            <p>An app for surfers to post reports for surf spots. Built using Firebase, React,  HTML and CSS.</p>
                            <div><a href="https://github.com/jyandell83/react-surf">Code </a>| <a href="https://react-surf.firebaseapp.com/">Site</a></div>
                        </div>
                        <div>
                            <h1>LA Food Policy Council Dashboard</h1>
                            <img class ="project-pic" src="./public/la-food-council.png" alt="project-pic" />
                            <p>Hackathon entry for the LA food policy council user dashboard. Built using Firebase and React</p>
                            <div><a href="https://github.com/jyandell83/GoodFoodLA-Hack-a-Thon">Code </a>| <a href="https://goodfoodla-hack-a-thon.firebaseapp.com/">Site</a></div>
                        </div>
                        <div>
                                <h1>JamBand</h1>
                                <img class ="project-pic" src="./public/JamBand-pic.png" alt="project-pic" />
                                <p>An app for musicians to connect with other musicians. Built using Python/Flask, React, SQL, HTML and CSS.</p>
                                <div><a href="https://github.com/jyandell83/react-api-jam-sesh-finder">Code </a>| <a href="https://jamband.herokuapp.com/">Site</a></div>
                        </div>
                        <div>
                            <h1>MyTopTen</h1>
                            <img class ="project-pic" src="./public/MyTopTen-pic.png" alt="project-pic" />
                            <p>An app for movie buffs to share their favorite movies. Built using MongoDB, Express, Node, HTML and CSS.</p>
                            <div><a href="https://github.com/jyandell83/top-ten-movies">Code </a>| <a href="https://mytopten.herokuapp.com/">Site</a></div>
                        </div>
                        <div>
                                <h1>Mancala</h1>
                                <img class ="project-pic" src="./public/mancala-pic.png" alt="project-pic" />
                                <p>An ancient game brought to life with Javascript, HTML and CSS.</p>
                                <div><a href="https://github.com/jyandell83/mancala">Code </a>| <a href="https://jyandell83.github.io/mancala/">Site</a></div>
                            </div>
                    </div>
                    <div v-if="counter === 'contact'">
                            <a href="https://github.com/jyandell83"><h1>Github <i class="fab fa-github-alt"></i></h1></a>
                            <a href="https://www.linkedin.com/in/jeremy-yandell/"><h1>LinkedIn <i class="fab fa-linkedin"></i></h1></a>
                    </div>
            </div>
            
            
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./app.js"></script>
</body>
</html>